body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(59, 58, 58);
    margin: 50px;
}
h1 {
    font-family: 'Oswald', sans-serif; 
}
p {
    font-family: 'Fira Sans', sans-serif; 
    font-size: 24px;
}
a {
    color: rgb(167, 1, 78);
    text-decoration: none;
}
a:hover {
    text-decoration: underline  ;
}
#todays-challenge {
    color: rosybrown;
    font-weight: bold;
    font-size: 52px;
}
